*.a
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
cmake_uninstall.cmake
*Config.cmake
*ConfigVersion.cmake
core/config.h
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt
Makefile
*.pb.cc
*.pb.h
*Targets.cmake
_CPack_Packages/
.deb
doc/